.swal2-input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

.swal2-coach-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.swal2-checkbox {
    margin-right: 10px;
}

.swal2-checkbox-label {
    margin-left: 5px;
}

.swal2-checkbox-yes {
    color: #00aaff;
}

.swal2-checkbox-no {
    color: #d33;
}

.swal2-coach-text {
    color: #666;
}
